.border{ 
    display: flex;
    justify-content: center;
    border: 15px;
    border-color: #ccc;
    border: solid;
    width: 663px;
    margin-left: 331.5px;
}
.buttons{
    display: flex;
    text-align: center;
    justify-content: center;
}
.text{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: larger;

}
button{
    margin: 2px;
    font-size: large;
}
h1{
    font-size: 40px;
    text-align: center;
}